@font-face {
  font-family: 'atwriter';
  src: url($fontPath + 'atwriter.eot') format('embedded-opentype'),
  url($fontPath + 'atwriter.woff') format('woff'),
  url($fontPath + 'atwriter.ttf') format('truetype');
}