
/*test*/

#test{
  position: relative;
  height:100%;
  width:100%;
  padding:15px;
  #widget{
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 10px;
    background-color: #ffffff;
    height: auto;
    width:100%;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.07);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.07);
    .heading{
      position:relative;
      height:50px;
      width:100%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background: #eaead0; /* Old browsers */
      background: -moz-linear-gradient(left,  #eaead0 0%, #c7c7a5 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #eaead0 0%,#c7c7a5 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #eaead0 0%,#c7c7a5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaead0', endColorstr='#c7c7a5',GradientType=1 ); /* IE6-9 */

      padding:15px;
      span{
        font-size: 13px;
        margin-left: 2px;
        font-weight: 600;
        position: relative;
        top: -3px;
        text-shadow: 0 0 2px rgba(0,0,0,0.2);
      }
      img{
        position: relative;
        top: -4px;
      }
      #titleArrow{
        position: absolute;
        right: 15px;
        top:20px;
        cursor: pointer;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease ;
        -o-transition: all 500ms ease ;
        transition: all 500ms ease ;
      }

    }
    #theBody{
      //height: 170px;
     // padding: 20px 30px;
      min-height:150px;

      height: auto;
      padding: 20px;
      background-color: #ffffff;
      border-bottom: 1px solid #E6E7DF;
      #productText{

        text-shadow: 0 0 0.5px rgba(0,0,0,0.1);
      p{
        font-size:12px!important;
      }
      }
    }
  .theFooter{
    position: relative;
    min-height:40px;
    padding: 0 15px;
    background-color: #ffffff;
    height: auto;
    #next{
      margin: 7.5px 0px;
      //float: right;
      img{
        margin-left:15px;
        position: relative;
        top: -2px;
      }
    }
    #prev{
      margin: 7.5px 0px;
      img{
        margin-right: 15px;
        position: relative;
        top: -2px;
      }
    }
}
  }
  #prev, #next, #productText, #productImage,#contentContainer{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease ;
    -o-transition: all 500ms ease ;
    transition: all 500ms ease ;
  }
  #contentContainer{
    height: auto;

    max-height: 1000px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #E6E7DF;
    #ajaxLoader{
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("../img/ajax-loader.gif");
      z-index: 1;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  #prevText,#nextText{
    color: #4D8B1C;
    font-size: 13px;
    font-weight: 600;
    margin-left: 3px;
    text-decoration: underline;
    &:hover{
      color:darken(#4D8B1C,10%);
    -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease ;
      -o-transition: all 200ms ease ;
      transition: all 200ms ease ;
    }
  }

};

