@mixin fontFam ($family:inherit,$color:inherit, $aaRadius:2px,$aaOpacity:0.3,$weight:normal){
  position:relative;
  font-family: $family;
  letter-spacing: 2px;
  color: $color;
  text-shadow: 0 0 $aaRadius rgba($color,$aaOpacity);
  text-rendering: optimizeLegibility;
  font-weight:$weight;

  -webkit-font-smoothing: antialiased;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
